# Dependencies
node_modules
.pnpm-store

# Build
dist
.next
out
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# IDE
.idea
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Logs / debug
npm-debug.log*
pnpm-debug.log*
*.log

# Prisma
packages/db/prisma/migrations/**/migration_lock.toml

# Test
coverage

# Turbo (if added later)
.turbo
